<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Steve Jobs</key>
	<string></string>
	<key>Mark Zuckerberg</key>
	<string></string>
	<key>Jack Ma</key>
	<string></string>
	<key>Bill Gates</key>
	<string></string>
	<key>Warren Buffet</key>
	<string></string>
</dict>
</plist>
