<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Steve Jobs</key>
	<string>steve_jobs.jpg</string>
	<key>Mark Zuckerberg</key>
	<string>mark_zuckerberg.jpg</string>
	<key>Jack Ma</key>
	<string>jack_ma.jpg</string>
	<key>Bill Gates</key>
	<string>bill_gates.jpg</string>
	<key>Warren Buffet</key>
	<string>warren_buffett.jpg</string>
</dict>
</plist>
